body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_wrapper {
    width: 830px;
}


@media screen and (max-width: 830px) {
    .main_wrapper {
        width: 100%;
    }
}

.main_wrapper {
    /*width: 800px;*/
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

iframe {
    width: 100%;
    /*height: 500px;*/
}

button {}

.justify{
    text-align: justify;
}

ul {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    width: 100%;
}